<section>
  <div class="max-w-7xl mx-auto px-3">
    <div class="border-l-[5px] border-[#24a455] pl-5 md:pl-5">
      <p class="text-4xl md:text-5xl font-extrabold leading-tight">
        Contractors <u class="italic text-[#24a455]">serve</u> their communities.
      </p>
      <p class="text-4xl md:text-5xl font-extrabold leading-tight mt-4">
        Our job is to bring them the customers they <u class="italic text-[#24a455]">deserve.</u>
      </p>
    </div>
  </div>
</section>