---

---

<section class="bg-white section-aztec">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center text-white lg:py-8 lg:px-8">
      <dl class="grid max-w-screen-md gap-8 mx-auto grid-cols-2 sm:grid-cols-3">
          <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl font-extrabold">10+ Years</dt>
              <dd class="font-light">Experience</dd>
          </div>
          <div class="flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl font-extrabold">300+</dt>
              <dd class="font-light">Clients Served</dd>
          </div>
          <div class="hidden sm:flex flex-col items-center justify-center">
              <dt class="mb-2 text-3xl md:text-4xl font-extrabold">4.9 Star</dt>
              <dd class="font-light">Google Rating</dd>
          </div>
      </dl>
  </div>
</section>